*{
padding:auto;
margin:auto;
}

html, body {
   background-color: white;
   padding: 0;
   margin: 0;
}



.container{
  width:80%;
}

body {
  font-family: 'Gill Sans', sans-serif;

  .productsTitle {

  font-size: 375%;
  text-align: center;
  padding-bottom: 15px;
  }


  .products_image {
    width: 80%;
    height: 80%;
    align-content: center;
  }
   .single_product_image {
    width: 50%;
    height: 50%;
    align-content: center;
  }

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }


  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}



.formEmail, .formPassword, .formName {
  width: 500px;
}
